<div class="container">
    <h1 class="my-4">Anonymous View</h1>
    <div id="users" class="row">
        <% users.forEach(user=> { %>
            <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                <div class="card h-100">
                    <div class="card-body text-center">
                        <h5 class="card-title">
                            <%= user.name %>
                        </h5>
                        <img src="<%= user.profile_url %>" class="img-thumbnail mb-2" alt="<%= user.name %>">
                        <p class="card-text">
                            <%= user.email %>
                        </p>
                    </div>
                </div>
            </div>
            <% }) %>
    </div>
</div>
<script>
const usersDiv = document.getElementById('users');
fetch('/api/users')
  .then(response => response.json())
  .then(users => {
    // Render the users data on the browser
    console.log('users', users);
    let html = '';
    users.forEach(user => {
      html += `<div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card h-100" style="width: 230px;">
                    <img src="${user.profile_url}" class="card-img-top custom-img" style="width: 230px; height: 230px;" alt="${user.name}">
                    <div class="card-body">
                        <h5 class="card-title">${user.name}</h5>
                        <p class="card-text">${user.email}</p>
                    </div>
                </div>
            </div>`;
    });
    usersDiv.innerHTML = html;
  });
</script>