<div class="container">
    <h1 class="my-4">Reset Password</h1>
    <% if (typeof error !=='undefined' ) { %>
        <div class="alert alert-danger">
            <%= error %>
        </div>
        <% } %>
            <form id="reset-password-form" method="POST" action="/api/reset/action?token=<%= token %>">
                <div class="form-group">
                    <label for="password">New Password:</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Confirm Password:</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
                </div>
                <button type="submit" class="btn btn-primary">Reset Password</button>
            </form>
</div>