<footer class="bg-light py-3">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <p>&copy; 2023 My Website. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>