<footer class="mt-4">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <p class="text-center">&copy; 2023 My Website. All rights reserved.</p>
</footer>