<!DOCTYPE html>
<html>
  <head>
    <title>My App</title>
  </head>
  <body>
    <h1>Welcome to My App</h1>
    <p>You can log in to your own account on <a href="/login" target="_blank" >/login</a> using the following credentials:</p>
    <ul>
      <li>Username: user1</li>
      <li>Password: user1pass</li>
    </ul>
  </body>
</html>
